/* play-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v49-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v49-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*  Base */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --color-dark: #011c44;
  --color-black: #2b7fff;
  --color-light: #ffffff;
}

/* Bazza */
body {
  color: var(--color-dark);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*  HEader */
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Heder conteiner */

.header-conteiner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.heder-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.conteiner-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Меню hedear Навігація по сайту */

.menu-header {
  color: var(--color-dark);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}
.menu-header:hover {
  color: var(--color-black);
  font-style: normal;
  font-size: 18px;
}
/* HEADER соціальна сеть */
.conteiner-contact {
  display: flex;
  gap: 32px;
}

/*  Заголовок */
.hero-section {
  padding: 123px 0;
  padding-left: 106px;
  background-image: url(../images/Doctor-performs\ procedures-on-a-woman.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-conteiner {
  padding-left: 106px;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Парграф  Косметологічна клініка*/
.main-paragraf-title {
  color: var(--color-dark);
  font-style: normal;
  font-size: 18px;
  margin-bottom: 16px;
}
/* Beauty Zone  Назва сайту*/
.main-Hero-title {
  color: var(--color-black);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  width: 529px;
  margin-bottom: 40px;
}
/* button кнопка набрати */
.conteiner-button {
  width: 238px;
}
.button {
  color: var(--color-light);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: 32px;
  width: 219px;
  height: 53px;
  left: 20px;
  top: 20px;
}

.button:hover {
  color: var(--color-black);
  background-color: transparent;
  border: 2px solid var(--color-black);
  border-radius: 32px;
}

.titel-button {
  margin-bottom: 14px;
}
/* Опис для button */
.main-paragraf-button {
  color: #4a4a4a;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

/* h2 загловок Перевтілюйтесь в beauty zone! */
.Section-beauty-zone {
  padding-bottom: 112px;
}

.conteiner-beauty-zone {
  display: flex;
  justify-content: space-between;
}
.conteiner-description-beauty-zone {
  width: 100%;
  max-width: 709px;
  gap: 32px;
}

.img-beauty-zone {
  display: flex;
  flex-direction: column;
  max-width: 499px;
  max-height: 665px;
  gap: 40px;
}

.img-beauty-zone1 {
  border-radius: 50%;
  width: 100%;
  max-width: 327px;
  max-height: 327px;
  filter: drop-shadow(0px 4px 4px rgba(168, 198, 245, 0.2));
}
.img-beauty-zone2 {
  border-radius: 50%;
  width: 100%;
  max-width: 327px;
  max-height: 327px;
  margin-left: 172px;
  filter: drop-shadow(0px 4px 4px rgba(168, 198, 245, 0.2));
}

.main-h2-beauty-zone {
  color: var(--color-dark);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 0.86;
}
.titel-beauty-zone {
  margin-bottom: 40px;
}
.titel-description {
  margin-bottom: 40px;
}
/* span зміна Деяких елементів коляру */
.accent {
  color: var(--color-black);
}
/* Параграф опис Перевтілюйтесь в beauty zone */
.paragraf-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  font-family: "Roboto";
}

/* main-h2-Why-us другий заголовок Чому обирають нас */
.main-h2-Why-us {
  color: var(--color-dark);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}

.conteiner-Why-us {
  display: flex;
  justify-content: center;
}

.titel-Why-us {
  margin-bottom: 48px;
  max-width: 432px;
  text-align: center;
}

/* conteiner */
.container-Why-us-description {
  display: flex;
  gap: 56px;
  justify-content: center;
}

.container-Why-us1 {
  padding: 24px;
  border: 1px solid var(--color-dark); /* удалити*/
  border-radius: 16px;
  width: 100%;
  max-width: 316px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo-why-us {
  display: block;
  margin: 0 auto;
  fill: var(--color-black);
}

.Section {
  padding: 48px 0;
}
/* Опис Чому обирають нас */
.paragraf-Why-us-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

/* наші процедури */
.conteiner-procedures {
  display: flex;
  justify-content: center;
}

.list-conteiner-procederes {
  display: flex;
  justify-content: center;
  gap: 32px;
}
/* Кнопка для прогортування */
.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-dark);
  cursor: pointer;
  flex-shrink: 0;
}

.carousel-conteiner {
  display: flex;
  gap: 32px;
  align-items: center;
}

.carousel-button:hover {
  background-color: var(--color-black);
}

.carousel-arrow {
  fill: var(--color-dark);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-light);
}
/*  */

.main-procedures {
  color: var(--color-dark);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}

.titel-procedures {
  margin-bottom: 48px;
}
/* Контейнер для розміщення фото */
.conteiter-procedures-img {
  display: flex;
  justify-content: center;
  gap: 16px;
}
/* IMG PROCEDURES */
.img-procedures1 {
  border-radius: 120px 4px;
}
/* Опис Наші Процедури з фото */
.procedures--info {
  display: flex;
  background: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
  border-radius: 120px 4px;
  height: 456px;
  width: 344px;
}
.main-h3-procedures {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  flex-wrap: wrap;
  align-items: center;
  color: var(--color-light);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}
/* Як на знайти */
.main-search {
  color: var(--color-dark);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}

/* Як нас знайти */
.contact-section {
  padding-bottom: 94px;
}
.conteiner-search {
  display: flex;
  justify-content: center;
}

.titel-search {
  margin-bottom: 48px;
}
/* Як нас знайти на блоки */
.main-record {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.container-maps {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}

.record {
  background-image: url(../images/background-\ \ singl-up.png);
  background-color: var(--color-dark);
  background-size: cover;
  background-position: center;
  background-color: var(--color-dark);
  border-radius: 32px;
  width: 100%;
  max-width: 423px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner-record {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.conteiner-h3-Sign-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 274px;
}
/* Записатися безкоштовно h3 */
.h3-Sign-up {
  color: var(--color-light);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}

.titel-Sign-up {
  margin-bottom: 32px;
}

.conteiner-button-Sign {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* border Заповнити дані */

.border-name {
  border: 2px solid #747272;
  border-radius: 32px;
  left: 10.6%;
  right: 10.6%;
  top: 34.62%;
  bottom: 34.62%;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  background-color: #ffffff;
}

.title-name {
  margin-bottom: 16px;
}

.border-phone {
  border: 2px solid #747272;
  border-radius: 32px;
  left: 10.6%;
  right: 10.6%;
  top: 34.62%;
  bottom: 34.62%;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  background-color: #ffffff;
}

.title-phone {
  margin-bottom: 16px;
}

.border-mail {
  border: 2px solid #747272;
  border-radius: 32px;
  left: 10.6%;
  right: 10.6%;
  top: 34.62%;
  bottom: 34.62%;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  background-color: #ffffff;
}

.phone-mail {
  margin-bottom: 16px;
}
/* кнопка записатись бескоштовно */
.button-Sign-up {
  color: var(--color-light);
  width: 281px;
  height: 53px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: 32px;
}

.container-paragraf-Sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 281px;
}

.title-button-Sign {
  margin-bottom: 8px;
}

.button-Sign-up:hover {
  color: var(--color-black);
  background-color: transparent;
  border: 2px solid var(--color-black);
  border-radius: 32px;
}

.conteiner-paragrag-sign-up {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 213px;
}

.paragraf-Sign-up {
  color: #747272;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
/* Футер */
/* Зображення футер */
.footer {
  padding: 56px 0;
}
.footer {
  background-image: url(../images/background-footer.png);
  background-color: var(--color-dark);
  background-size: cover;
  background-position: center;
}
/* футер контейнер розміщення в ряд */
.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.logo-footer {
  flex-grow: 1;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.address-container {
  flex-grow: 1;
  gap: 16px;
}

.address-confidentiality {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.social-networks {
  display: flex;
  gap: 24px;
}
.info-address {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding-bottom: 16px;
}

.main-container {
  flex-grow: 1;
}
/* footer menu */
.main-footer-menu {
  color: var(--color-light);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.address-icon {
  fill: var(--color-light);
}
/* Політика конфіденційності*/
.main-confidentiality {
  color: var(--color-light);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
/*  */

.main-2022 {
  color: #747272;
  font-style: normal;
  font-weight: 400;
}
