/* Bazza */
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  color: var(--color-dark);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*  HEader */
header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 32px 0;

  width: 100%;
  backdrop-filter: blur(10px);
}

.accent {
  color: var(--color-black);
}
