@import "./utils/fons";
@import "./base";
@import "./utils/mixin";
@import "./utils/variables";

@import "./components/buttom";
@import "./components/carousel-button";
@import "./components/container";
@import "./components/link";
@import "./components/section";
@import "./components/stas-animation";

@import "./layouts/backdrop";
@import "./layouts/footer";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/procedures";
@import "./layouts/search";
@import "./layouts/beauty-zone";
@import "./layouts/why-us";
