@import "./utils/fonts";

@import "./utils/variables";

@import "./base";

@import "./components/container";

@import "./layouts/header";

@import "./layouts/hero-section";

@import "./layouts/Section-beauty-zone";

@import "./components/buttom";

@import "./components/stas-animation";

@import "./components/section";

@import "./layouts/why-us";

@import "./components/carousel-button";

@import "./layouts/procedures";

@import "./layouts/search";

@import "./layouts/footer";

@import "./layouts/backdrop";
