/* button кнопка набрати */
.conteiner-button {
  width: 238px;

  &__button {
    color: var(--color-light);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
    border-radius: 32px;
    width: 219px;
    height: 53px;
    transition: color 0.2s;
    &:hover {
      color: var(--color-black);
      background-color: transparent;
      border: 2px solid var(--color-black);
      border-radius: 32px;
    }
  }

  &__button {
    margin-bottom: 14px;
  }
}

.contact-submit {
  padding: 14px 30px;
  border-radius: 32px;
  border: none;
  background: var(--color-black);
  color: var(--color-light);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}

.contact-submit:hover {
  color: var(--color-black);
  background-color: transparent;
  border: 2px solid var(--color-black);
}
