.backdrop {
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms ease, visibility 250ms ease;
}

.modal-main {
  width: 435px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центр по горизонталі */
  text-align: center;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Модалка */
.modal {
  position: relative;
  width: 90%;
  max-width: 723px;
  max-height: 90vh;
  padding: 40px 40px;
  background-image: url("../images/background-wave.png");
  background-color: var(--color-dark);
  background-size: cover;
  background-position: center;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* З'явиться скрол якщо екран маленький */
  overflow-x: hidden;
}

/* Заголовки */
.h2-modal {
  color: #ffffff;
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 32px;
  width: 435px;
}

.modal-sing-up {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-modal {
  color: #ffffff;
  opacity: 0.9;
  margin-bottom: 30px;
  font-family: "Roboto, sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Кнопка Х (закрити) */
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  background: transparent;
  border: none;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

/* Форма */
.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.modal-field input {
  background: transparent;
  border: 2px solid #747272;
  border-radius: 32px;
  padding: 14px 20px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  transition: border-color 0.2s;
}
.record {
  width: 310px;
  font-family: "Roboto, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.modal-field input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.modal-field input:focus {
  border-color: #4d9fff;
}

/* Кнопка */
.modal-submit {
  padding: 16px 32px;
  border-radius: 32px;
  border: none;
  background: #3b7bff;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s;
}

.modal-submit:hover {
  background: #2e5fcc;
}

/* Текст про політику */
.modal-policy {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.modal-policy a {
  color: #5599ff;
  text-decoration: underline;
}
