.header {
  display: flex;
  align-items: center;
  gap: 40px;
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__contact {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
    }
  }
  &__buttom-menu {
    background: none;
    border: none;
    fill: #ffffff;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
