.hero-section {
  padding: 123px 0;
  background-image: url(../images/procedures-on-a-woman.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__container {
    padding-left: 106px;
  }

  &__paragraf {
    color: var(--color-dark);
    font-style: normal;
    font-size: 18px;
    margin-bottom: 16px;
    text-align: center;

    @media screen and (min-width: $bp-table) {
      text-align: left;
    }
  }

  /* Beauty Zone  Назва сайту*/
  &__hero {
    color: var(--color-black);
    font-family: "Play", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 0.8;
    max-width: 529px;
    margin-bottom: 40px;
    text-align: center;

    @media screen and (min-width: $bp-table) {
      text-align: left;
      font-size: 140px;
    }
  }

  /* Опис для button */
  &__p-button {
    color: #4a4a4a;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;

    @media screen and (min-width: $bp-table) {
    }
  }
  .conteiner-button {
  }
}
