.Why-us {
  display: flex;
  justify-content: center;

  &__titel {
    margin-bottom: 48px;
    max-width: 442px;
    text-align: center;
  }
  &__main-h2 {
    color: var(--color-dark);
    font-family: "Play", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
  }
  // перевірити
  &__container-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
  }

  &__container-description {
    display: flex;
    gap: 56px;
    justify-content: center;
  }

  &__container-1 {
    padding: 24px;
    border: 1px solid var(--color-dark); /* удалити*/
    border-radius: 16px;
    height: 181px;
    width: 100%;
    max-width: 316px;
    text-align: center;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    fill: var(--color-black);
  }
}
